<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Alap Vyas - DevOps Engineer{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'projects' %}">Projects</a>
            <a href="{% url 'resume' %}">Resume/CV</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'contact' %}">Contact</a>
        </nav>
    </header>

    {% block content %}
    <!-- Content unique to each page will go here -->
    {% endblock %}

    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>
